<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/homepage']"><h2>Home Page</h2></a>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf='(currentUser | async)'>
        <a class="nav-link" [routerLink]="['/people']" routerLinkActive="active-current"><i class="fa fa-users"></i> People</a>
      </li>
      <li class="nav-item" *ngIf='(currentUser | async)'>
        <a class="nav-link" [routerLink]="['/songs']" routerLinkActive="active-current"><i class="fa fa-music"></i> Songs</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <div ngbDropdown placement="bottom-right" class="border:none;">
          <button class="btn profileButton" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user"></i></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
            <div *ngIf='(currentUser | async) else loginlink'>
              <a class="dropdown-item" routerLinkActive='active' routerLink="/profile">My Profile</a>
              <a class="dropdown-item" routerLink="/logout">Logout</a>
            </div>
            <ng-template #loginlink >
              <a class="dropdown-item" routerLinkActive='active' routerLink="/login">Log In</a>
              <a class="dropdown-item" routerLinkActive='active' routerLink="/register">Register</a>
            </ng-template>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
