.removeButton{
    background-color:white;
    border:none;
    color:tomato;
    font-size: 150%;
    cursor: pointer;
    padding:0%;
}

.ngbPanelTitle {
  background-color: red;  
}

.songLink {
  padding-right: 0%;
}

.song {
  font-size: 115%;
  cursor: pointer;
}

.songs {
  max-height: 45em;
  overflow-y: scroll;
}


a.song:hover {
  color: red;
}

/*.col-2 {
  border: solid black 2px;
}*/
